<%- include includes/header.ejs %>
<%- include includes/left-sidebar.ejs %>

<!-- Middle Content -->
<div class="col-lg-6 order-lg-2 order-1">
    <div class="main-content">
        <%- include includes/main-search.ejs %>
        <div class="widget mt-4">
			<div class="widget-content">
				<div class="about-us">
					<div class="about-inner">
						<h4 class="mb-2">About Us</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
							standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
							a type specimen book.
						</p>
					</div>
					<div class="about-inner mt-3">
						<h4 class="mb-2">Our Mission</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
							standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
							a type specimen book.
						</p>
					</div>
					<div class="about-inner mt-3">
						<h4 class="mb-2">Our Vision</h4>
						<p>
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
							standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
							a type specimen book.
						</p>
					</div>
				</div>  
			</div>  
		</div>  
    </div>
</div>

<%- include includes/right-sidebar.ejs %>
<%- include includes/footer.ejs %>