<%- include includes/header.ejs %>
<%- include includes/left-sidebar.ejs %>

<!-- Middle Content -->
<div class="col-lg-6 order-lg-2 order-1">
    <div class="main-content">
        <%- include includes/main-search.ejs %>
        <!-- Jobs List -->
        <div class="widget mt-4">
            <div class="widget-content">
                <div class="all-posts">
                    <ul class="post-list">
                        <li>
                            <h2><a href="/job-details">Celebrated am announcing delightful remarkably we</a></h2>
                            <p>It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had yo...</p>
                            <div class="btn-action">
                                <a href="/job-details">Read More</a>
                            </div>
                        </li>
                        <li>
                            <h2><a href="/job-details">Celebrated am announcing delightful remarkably we</a></h2>
                            <p>It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had yo...</p>
                            <div class="btn-action">
                                <a href="/job-details">Read More</a>
                            </div>
                        </li>
                        <li>
                            <h2><a href="/job-details">Celebrated am announcing delightful remarkably we</a></h2>
                            <p>It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had yo...</p>
                            <div class="btn-action">
                                <a href="/job-details">Read More</a>
                            </div>
                        </li>
                        <li>
                            <h2><a href="/job-details">Celebrated am announcing delightful remarkably we</a></h2>
                            <p>It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had yo...</p>
                            <div class="btn-action">
                                <a href="/job-details">Read More</a>
                            </div>
                        </li>
                        <li>
                            <h2><a href="/job-details">Celebrated am announcing delightful remarkably we</a></h2>
                            <p>It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had yo...</p>
                            <div class="btn-action">
                                <a href="/job-details">Read More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="post-pager text-center">
            <span class="current"><a href="/job-details">1</a></span>
            <span><a href="/job-details">2</a></span>
            <span><a href="/job-details">3</a></span>
            <span><a href="/job-details">Next >></a></span>
            <span><a href="/job-details">Last</a></span>
        </div>
    </div>
</div>

<%- include includes/right-sidebar.ejs %>
<%- include includes/footer.ejs %>