<%- include includes/header.ejs %>
<%- include includes/left-sidebar.ejs %>

<!-- Middle Content -->
<div class="col-lg-6 order-lg-2 order-1">
    <div class="main-content">
    <%- include includes/main-search.ejs %>
        <!-- IT Jobs -->
        <div class="widget">
            <div class="section-title">
                <h2>
                    <span>IT Jobs</span>
                    <a href="/job-details">View More</a>
                </h2>
            </div>
            <div class="widget-content">
                <div class="it-jobs">
                    <ul class="post-list-v2">
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                                <span><img src="/assets/images/icons/new.gif" alt="new-post-image"></span>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Railway Jobs -->
        <div class="widget">
            <div class="section-title">
                <h2>
                    <span>Railway Jobs</span>
                    <a href="/job-details">View More</a>
                </h2>
            </div>
            <div class="widget-content">
                <div class="railway-jobs">
                    <ul class="post-list-v2">
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                                <span><img src="/assets/images/icons/new.gif" alt="new-post-image"></span>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Government Jobs -->
        <div class="widget">
            <div class="section-title">
                <h2>
                    <span>Government Jobs</span>
                    <a href="/job-details">View More</a>
                </h2>
            </div>
            <div class="widget-content">
                <div class="government-jobs">
                    <ul class="post-list-v2">
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                                <span><img src="/assets/images/icons/new.gif" alt="new-post-image"></span>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Banking Jobs -->
        <div class="widget">
            <div class="section-title">
                <h2>
                    <span>Banking Jobs</span>
                    <a href="/job-details">View More</a>
                </h2>
            </div>
            <div class="widget-content">
                <div class="banking-jobs">
                    <ul class="post-list-v2">
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                                <span><img src="/assets/images/icons/new.gif" alt="new-post-image"></span>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="/job-details">Celebrated am announcing delightful remarkably we</a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Recents Jobs -->
        <div class="widget">
            <div class="section-title">
                <h2>
                    <span>Recents Jobs</span>
                </h2>
            </div>
            <div class="widget-content">
                <div class="recent-jobs">
                    <ul class="post-list">
                        <li>
                            <h2><a href="/job-details">Celebrated am announcing delightful remarkably we</a></h2>
                            <p>It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had yo...</p>
                            <div class="btn-action">
                                <a href="/job-details">Read More</a>
                            </div>
                        </li>
                        <li>
                            <h2><a href="/job-details">Celebrated am announcing delightful remarkably we</a></h2>
                            <p>It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had yo...</p>
                            <div class="btn-action">
                                <a href="/job-details">Read More</a>
                            </div>
                        </li>
                        <li>
                            <h2><a href="/job-details">Celebrated am announcing delightful remarkably we</a></h2>
                            <p>It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had yo...</p>
                            <div class="btn-action">
                                <a href="/job-details">Read More</a>
                            </div>
                        </li>
                        <li>
                            <h2><a href="/job-details">Celebrated am announcing delightful remarkably we</a></h2>
                            <p>It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had yo...</p>
                            <div class="btn-action">
                                <a href="/job-details">Read More</a>
                            </div>
                        </li>
                        <li>
                            <h2><a href="/job-details">Celebrated am announcing delightful remarkably we</a></h2>
                            <p>It bachelor cheerful of mistaken. Tore has sons put upon wife use bred seen. Its dissimilar invitation ten has discretion unreserved. Had yo...</p>
                            <div class="btn-action">
                                <a href="/job-details">Read More</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Pagination -->
        <div class="post-pager text-center">
            <span class="current"><a href="/job-details">1</a></span>
            <span><a href="/job-details">2</a></span>
            <span><a href="/job-details">3</a></span>
            <span><a href="/job-details">Next >></a></span>
            <span><a href="/job-details">Last</a></span>
        </div>
    </div>
</div>

<%- include includes/right-sidebar.ejs %>
<%- include includes/footer.ejs %>